@tailwind base;
@tailwind components;
@tailwind utilities;
/* Sembunyikan Scrollbar tapi tetap bisa di-scroll */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
}